<%- include('./includes/header') -%>
<div class="contact container my-5">
  <div class="row">
    <div>
      <p>
        ایران پلاک از سال ۱۳۹۲ با هدف خرید و فروش بدون واسطه‌ی آنلاین آغاز به کار
        کرد. امتیاز برند دایران پلاک توسط شرکت «آگه پردازان هوشمند» (سهامی خاص) در
        &nbsp;تمامی مراجع قانونی ثبت شده است.
      </p>
      <h1>نیازمندی‌های ریز و درشت شما روی دایران پلاک</h1>
      <p>
        در دایران پلاک به آسانی می‌توانید نیازمندی‌هایتان را بر اساس محله دسته‌بندی
        کنید و نزدیک‌ترین‌ها را بیابید.
      </p>
      <p>&nbsp;</p>
      <h2>برای قرار دادنِ آگهی‌های خود در دایران پلاک</h2>
      <p>
        شهرتان را مشخص نمایید، علامت «+ ارسال آگهی رایگان» را انتخاب کنید و
        آنگاه آگهی‌تان را بفرستید.
      </p>
      <p>
        فراموش نکنید پیش از هر چیز یک آدرس ایمیل و یک شماره تلفن برای ارسال آگهی
        ضروری است. شما می‌توانید برای کالا یا خدمات‌تان عکسی نیز انتخاب کنید.
      </p>
      <p>
        به این ترتیب میلیون‌ها کاربران دایران پلاک به آسانی آگهی‌ شما را خواهند دید و
        بر اساس محل آگهی شما را راحت‌تر خواهند یافت.
      </p>
      <p>&nbsp;</p>
      <h2>خرید و فروش بی‌واسطه</h2>
      <p>
        در دایران پلاک کاربران مستقیماً با هم تماس می‌گیرند و هیچ واسطه‌ای در این میان
        وجود ندارد، پس دقت فرمایید که در خرید و فروشِ شما دایران پلاک هیچ دخالتی ندارد
        و کاربران باید خودشان جنبه‌های مختلف امنیتی را در نظر بگیرند.
      </p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </div>
    <div >
      <a href="#"><span>دریافت از بازار</span></a>
    </div>
  </div>
</div>

<%- include('./includes/footer') -%>
