<%- include('./includes/header') -%>
<div class="contact container my-5 ">
  <div class="my-5">
    <h1 style="text-align: right">تماس با ما</h1>
    <p style="text-align: right">
      اگر پیشنهاد یا انتقادی دارید یا می‌خواهید ما را از وجود مشکلی در سیستم
      آگاه کنید، با دیوار صحبت کنید. برای اینکار می‌توانید از صفحه‌ی&nbsp;<a
        href="#"
        >پشتیبانی و قوانین</a
      >&nbsp;دیوار&nbsp;استفاده کنید.
    </p>
    <p style="text-align: right">
      برای حذف آگهی‌هایی که با شماره‌ی موبایل یا ایمیل شما ثبت شده است، به
      صفحه‌ی&nbsp;<a href="#">مدیریت آگهی</a>&nbsp;مراجعه کنید. همچنین&nbsp;در
      صورت ایجاد مزاحمت برای شما، می‌توانید با مراجعه به سایت پلیس فتا به
      آدرس&nbsp;<a href="#">http://www.cyberpolice.ir</a>&nbsp;از اطلاعات تماس
      پلیس فتای محل سکونت خود آگاه شوید و موضوع را از آن طریق پیگیری کنید.
    </p>
    <p style="text-align: right">
      .تیم‌های فنی ما در آدرس زیر اقامت دارند، ولی متأسفانه توان میزبانی مراجعان
      حضوری را نداریم.
    </p>
    <p style="text-align: right">
      آدرس پستی: تهران، سعادت‌آباد، خیابان فرهنگ، کوچه پیوند ۲، پلاک ۸.، طبقه
      سوم
    </p>
    <p style="text-align: right">صندوق پستی: ۴۸۳۱۱-۱۹۹۷۷</p>
    <p style="text-align: right">شماره تماس پشتیبانی: ۴۳۰۰۰۳۰۰-۰۲۱</p>
    <p style="text-align: right">&nbsp;</p>
    <p style="text-align: right">فرصت‌های شغلی</p>
    <p style="text-align: right">
      امتحان کنید، یاد بگیرید و بهتر شوید.&nbsp;<a href="#">به ما بپیوندید</a>
    </p>
  </div>

  
</div>
<%- include('./includes/footer') -%>
